.idea/
.vscode/
Testing/
CMakeFiles
Makefile
.ninja_deps
.ninja_log
cmake-build-debug
cmake_install.cmake
.cmake/
build
Makefiles/
deps*/
CMakeCache.txt
secret.txt
users.txt
*.a
*.ninja
src/cli/relay-client-transport-cli
